*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
  font-family: 'Gilroy-Regular';
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-Bold.ttf);
  font-family: 'Gilroy-bold';
}
body {
  font-family: 'Gilroy-Regular';
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'Gilroy-Bold';
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h2 {
  text-transform: uppercase;
}

header {
  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.link {
  color: inherit;
  padding: 1rem;
  border-bottom: 2px solid white;
  transition: border 100ms ease-out;
}

.link:hover {
  border-bottom: 2px solid black;
}